@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';
@import 'experimentation/graph';

/* style.css */
:root{
  --color-bg: #fff4f4;
  --color-texte: #000000;
  --color-text-offset:#ffffff;
  --color-secondary: #8c002b;
}
body[color-theme="clair"]{
  --color-bg: #fff4f4;
  --color-texte: #000000;
  --color-text-offset:#ffffff;
  --color-secondary: #8c002b;
  --image-menu: url(../images/menu/closewhite.png);
  position: relative;
  background-image: url(assets/images/dataplay_background.png),
                    linear-gradient(180deg, rgba(242, 139, 137, 0.74) 0%, rgba(251, 198, 183, 0.79) 31.25%, rgba(252, 212, 185, 0.74) 65.62%, #FFF4F4 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  }

  body[color-theme="clair"] .question{
    background-image: url(assets/images/nuage-landing-clair.svg);
  }
  body[color-theme="clair"] .footer_border{
  background: linear-gradient(to right, hsla(0, 79%, 72%, 1), hsla(8, 100%, 95%, 0.83));
  }


[color-theme="sombre"]{
  --color-bg: #7E78D2;
  --color-texte: #fefefe;
  --color-text-offset: #000000;
  --color-secondary: #5affc9;
   --image-menu: url(../images/menu/close.png);
   position: relative;
   background-image: url(assets/images/background_dark.png),
                     linear-gradient(180deg, rgba(26, 41, 78, 0.94) 5.21%, #7E78D2 39.06%, #A7A3E0 65.62%, #E2E0F5 100%);
        background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
}
body[color-theme="sombre"] .question{
  background-image: url(assets/images/nuage-lading-sombre.svg);
}
body[color-theme="sombre"] .footer_border{
  background: linear-gradient(90.01deg, #434597 -1.13%, #6665B3 32.92%, #898CB4 60.17%, #9E9BD7 98.42%);
}

body[data-theme="clair"] .logo{
  --logo: url(assets/images/lune-test.png) no-repeat;
}
body[data-theme="sombre"] .logo{
  --logo: url(assets/images/lune-test3.png) no-repeat;
}
.bouton{
  position:fixed;
  bottom:5%;
  right:2em;
  width: 15px;
  height: 15px;
}
.bouton--sombre{
background-image: url(assets/images/switch.png);
width: 200%;
height: 200%;
background-size: 100% auto;
background-color: transparent;
border: none;
}
.p--hover:hover{
  transform: translateY(-20px);
  transition: 1s;
} 

.go{
  background-color: #881941;
  color: var(--color-texte);
  border-radius: 30px;
  width: 217px;
  height: 69px;
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  border: none;
}

.last{
  margin-bottom: 120px;
}
.margin-top{
  margin-top: 250px;
}
.margin-100{
  margin-top: 100px;
}
.margin-50{
  margin-top: 50px;
}
.margin-70{
  margin-top: -70px;
}
body[data-theme="clair"] .blabla{
  background-image: url(assets/images/Plan\ de\ travail\ 1.svg);
}
body[data-theme="sombre"] .blabla{  
  background-image: url(assets/images/Plan\ de\ travail\ 2.svg);
}
/* FIn style.css */
body{
    background-color: #ffdab9;
    overflow-x: hidden;
}
.header{
    background-color: #f08080;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 999;
}

@font-face {
    font-family: "Catalina Rayden"; 
    src: url("Catalina\ Rayden.ttf");
}
@font-face {
    font-family: "CaviarDreams";
    src: url("CaviarDreams.ttf");
}

html{
    overflow-x: hidden;
}

body, body *{
    margin: 0;
    padding: 0;
}

body[data-theme="clair"] .logo{
    --logo: url(../data/assets/images/lune-test.png) no-repeat;
}
body[data-theme="sombre"] .logo{
    --logo: url(../data/assets/images/lune-test3.png) no-repeat;
}

.title__big{
    font-size: 76px;
    font-family: "Catalina Rayden";
    max-width: 460px;
    font-weight: normal;
    line-height: 91.97px;
    text-align: center;
}

li{
    list-style-type: none;
}

.title__big, .circle, .reponse{
    position: absolute;
}

.title__big, .circle{
    left: 50%;
    transform: translateX(-50%);
}

.title__big{
    transform: translateX(-50%) translateY(275px) translateY(-50%);
}

.circle{
    border: 1px solid black;
    width: 550px;
    height: 550px;
    border-radius: 2000px;
}

.reponse h2{
    font-size: 36px;
    font-family: "CaviarDreams";
    font-weight: normal;
    max-width: 200px;
}

.reponse{ 
    background-repeat: no-repeat;
    width: 554px;
    height: 325px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.reponse1{
    top: 216px;
    transform: translateX(-50%);
    background-image: url(nuage1.png);
    background-size: 110%;
    background-position: center;
}
.reponse2{
    top: 620px;
    transform: translateX(-50%) translateX(-404px);
    background-image: url(nuage2.png);
    background-size: 105%;
    background-position: center;
}
.reponse3{
    top: 445px;
    transform: translateX(-50%) translateX(456px);
    background-image: url(nuage3.png);
    background-size: 100%;
    background-position: bottom;
}
.reponse4{
    top: 804px;
    transform: translateX(-50%) translateX(-50px);
    background-image: url(nuage4.png);
    background-size: 120%;
    background-position: 60% 70%;
}

.reponse1:hover{
    cursor: pointer;
}
.reponse2:hover{
    cursor: pointer;
}
.reponse3:hover{
    cursor: pointer;
}
.reponse4:hover{
    cursor: pointer;
}
.burger{
    background-image: url(../data/assets/images/burgermenu.png);
    background-repeat: no-repeat;
    background-size: 40px;
    width: 100px;
    height: 60px;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 0%;
    z-index: 20;
    background-color: transparent;
    border: none
}
.nav{
    position: fixed;
    display: none;
}

.logo {
  height: 100px;
  width: 100px; 
}

.burger__ul{
  margin: auto;
}

body[data-menu] .nav{
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform: translateY(-100vh);
  z-index: 19;
  animation: openburger 0.2s ease-in forwards;
}
body[data-menu] .nav li{
  width: fit-content;
  margin: 20px 0;
}

body[data-menu] .burger{
  position: fixed;
}

/*  DIV TRANSPARENT  */



/*  FIN DIV TRANSPARENT  */



@keyframes openburger{
  to{
      transform: translateY(0);
  }
}

.grid{
  display: grid;
	grid-template-columns: 3fr 8fr 4fr ;
	column-gap: 16px;
	padding: 0 19px;
	padding-left: calc(25px + 19px);
}
.grid-test{
  display: grid;
	grid-template-columns: 4fr ;
	padding-left: calc(25px + 19px);
}
.mgrid-start1{
  grid-column-start: 1;
}

.mgrid-start2{
  grid-column-start: 2;
}


/* TYPO */
.title--big{
  font-size: 97px;
  font-family: "Monea Alegante";
  /*text-align: center;*/
}
.title__big, h2, h3{
  font-family: "Monea Alegante";
}
.text-center{
  text-align: center;
}
.title--medium{
  font-size: 69px;
}
.title--small{
  font-size: 49px;
}
.title--very--small{
  font-size: 35px;
}
p{
  font-size: 25px;
  font-family: "CaviarDreams"; 
}
.legende{
  font-size: 18px;
}
a{
  color: black;
  text-decoration: none;
  font-size: 18px;
}

header, footer{
    width: 100vw;
}
header{
    height: 370px;
}
footer{
    height: 100px;
    margin-top: 1100px;
}
.footer__border{
    background: linear-gradient(to right, hsla(0, 79%, 72%, 1), hsla(8, 100%, 95%, 0.83));
    width: 100vw;
    height: 5px;
}

.circle{
    display: none;
}
/* FOOTER */
.footer__list {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0px;
  text-align: right;
}
.footer__item {
	border: none;
	padding: 0 15px;
  margin-top: 20px;
  
}
.footer_border{
  background: linear-gradient(to right, hsla(0, 79%, 72%, 1), hsla(8, 100%, 95%, 0.83));
  height: 5px;
}
.reseaux_element{
    position: relative;
    overflow: hidden;
    border-right: 1px solid black;
}

.section--footer {
  padding-top: 5px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.section--main {
  display: flex;
  
}
.dwt{
  position: relative;
  top: 20px;
  left: -150px;
}
/* FIN FOOTER */
/* Test.css */
body, body *{
  margin: 0;
  padding: 0;
}
.test{
  max-width: 400px;
}
h2{
  font-size: 32px;
  max-width: 460px;
  font-weight: normal;
  line-height: 91.97px;
}

li{
  list-style-type: none;
}

.question, footer{
  position: relative;
}

.question h3{
  font-size: 20px;
  font-family: "CaviarDreams";
  font-weight: normal;
  max-width: 180px;
  max-height: 550px;
  padding: 50px;
}

.question{
  background-repeat: no-repeat;
  padding: 50px;
}

.question1{
  transform: translateX(100px) translateY(180px);
  background-position: center center;
  background-size: 75%;
}
.question2{
  transform: translateX(200px) translateY(40px);
  background-position: center center;
  background-size: 75%;
}
.question3{
  transform: translateX(-40px) translateY(-150px);
  background-position: center center;
  background-size: 85%;

}
.question4{
  transform: translateX(100px) translateY(-300px);
  background-position: center center;
  background-size: 75%;
}
.selec-p{
  max-width: 400px;
}
.blabla{
  width: 1850px;
  height: 800px;
  transform: translateX(-750px) translateY(-100px);
}
header{
  height: 250px;
}

@media (min-width: 768px){
  .pos-desktop{
    position: relative;
    transform: translateY(450px) translateX(450px);
    width: 250px;
}
.pres-width{
    width: 650px;
}
.selec-p{
    max-width: 450px;
  }
.blabla{
    width: 1050px;
    height: 700px;
    transform: translateX(150px) translateY(-500px);
  }
}

/*footer*/
.footer__list {
	list-style: none;
	margin: 0 0 30px 0;
	display: flex;
	padding: 0px;
}
.footer__item {
	border: none;
	padding: 0 15px;
	border-right: 1px solid black;
  margin-top: 20px;
}
.footer__item:last-child {
	border: none;
}

.reseaux_element{
    position: relative;
    overflow: hidden;
    border-right: 1px solid black;
}

.section--footer {
  padding-top: 5px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dwt{
  position: relative;
  top: 0px;
  left: 0px;
  margin-top: 15px;
}

/* TYPO */
.title--big{
  font-size: 250px;
  text-align: center;
}
.json--margin{
  margin-left: 80px;
}
@media (min-width: 1046px){
    
  .pos-desktop{
      position: relative;
      transform: translateY(400px) translateX(550px);
      width: 508px;
  }
  .blabla{
      width: 1250px;
      height: 900px;
      transform: translateX(150px) translateY(-600px);
    }
}
@media (min-width: 1200px){
  
  .pos-desktop{
      position: relative;
      transform: translateY(400px) translateX(900px);
      width: 508px;
  }
  .test{
      transform: translateX(250px);
  }
  .selec-p{
      max-width: 450px;
      transform: translateX(250px);
    }
  .blabla{
      width: 1050px;
      height: 700px;
      transform: translateX(550px) translateY(-500px);
    }
}