.questions{
    //display: none;
    &__blur{
        width: 100vw;
        height: 210vh;
        position: absolute;
        z-index: 300;
        background-color: #fff7f0;
        opacity: 85%;
        left: 0;
        top: 75px;
    }
    &__graphique{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 500;
    }
    &__close{
        position: fixed;
        bottom: 5px;
        right: 5px;
        z-index: 600;
    }
    &--none{
        display: none;
    }
}

.piechart{
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #DF9696;
    opacity: 100%;
}